<!-- tabs -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- tab -->
    <ion-tab title="Master" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/master">
        <ion-nav-view name="tab-master"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Blog" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/blog">
        <ion-nav-view name="tab-blog"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Weekly" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/weekly">
        <ion-nav-view name="tab-weekly"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Joke" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/joke">
        <ion-nav-view name="tab-joke"></ion-nav-view>
    </ion-tab>
</ion-tabs>
