<!-- tabs -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- tab -->
    <ion-tab title="Master" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/masters?cate=masters">
        <ion-nav-view name="tab-masters"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Blog" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/blogs?cate=blogs">
        <ion-nav-view name="tab-blogs"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Weekly" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/weeklys?cate=weeklys">
        <ion-nav-view name="tab-weeklys"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Joke" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/jokes?cate=jokes">
        <ion-nav-view name="tab-jokes"></ion-nav-view>
    </ion-tab>
</ion-tabs>
